.glow {
    -webkit-box-shadow: 0px 0px 191px 11px rgba(24, 139, 74, 0.888);
    -moz-box-shadow: 0px 0px 191px 11px rgba(47, 213, 78, 0.8);
    box-shadow: 0px 0px 191px 11px rgba(48, 220, 65, 0.512);
}